.inputArea {
  margin-bottom: 1rem;
}
.inputArea .inputBar {
  width: 31.25rem;
  margin-right: 0.625rem;
}

.todoList .listContent {
  font-size: 1.375rem;
}

.todoList .listContent.done {
  text-decoration: line-through;
  color: #d4d4d4;
}
